/back-end-code/api-controle-ponto/target/
/back-end-code/api-controle-ponto/.gradle/
/back-end-code/api-controle-ponto/build/
*.jar
*.war
*.class

/back-end-code/api-controle-ponto/src/main/resources/application.yml

/back-end-code/api-controle-ponto/.idea/
*.iml
.DS_Store

.vscode/

/front-end-code/states_flutter/build/

/front-end-code/states_flutter/.dart_tool/

/front-end-code/states_flutter/.idea/
/front-end-code/states_flutter/.vscode/
/front-end-code/states_flutter/.flutter-plugins
/front-end-code/states_flutter/.flutter-plugins-dependencies

/front-end-code/states_flutter/.packages
/front-end-code/states_flutter/pubspec.lock